 <div class="user-details">
  <h1> About Me </h1>
  <p> Hello! My name is Shane Acoveno and I am a junior Computer Science major at Lehigh University.
      I am actively seeking a software engineering/development internship for Summer 2020.  Outside of coding,
      I am heavily interested in investing and cryptocurrency. </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Design</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-css3-plain-wordmark"></i>
      
      <p> Experience with front-end technolgies includes HTML5, CSS,
       and JavaScript.
       Also experienced in 3D modeling and printing with Autodesk technologies and Photoshop.</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-java-plain"></i>
      <i class="devicon-cplusplus-plain"></i>
      
      <p> Highly experienced in coding in Java (3+ years) as well as C/C++ (2 years). Also
        experienced with MatLab (2 years), Python (1 year), and beginning to learn Rust.</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-github-original"></i>
      
      <i class="devicon-postgresql-plain"></i>
      <p>Experienced with version control systems such as Github and Bitbucket. Experienced in Unix command line in a terminal environment.
         Additionally, experienced in PostgreSQL. </p>
    </div>
</div>
