 <div class="user-details">
  <h1> About Me </h1>
  <p> Hello! My name is Shane Acoveno and I am a junior Computer Science major at Lehigh University.
      I am actively seeking a software engineering/development internship for Summer 2021.  Outside of coding,
      I am heavily interested in investing and cryptocurrency. </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Design</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-css3-plain-wordmark"></i>
      <i class="devicon-photoshop-plain"></i>
      <p> Experience with front-end technolgies includes HTML5, CSS,
       and some JavaScript in building this webpage.
       Also experienced in 3D modeling and printing with Autodesk technologies and Photoshop.</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
</div>
